*{
    padding: 0;
    margin: 0;
}
.gameArea{
    width: 480px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gameCanvas{
    background: #eee;
    position: absolute;
}
#start{
    position: relative;
    top: 30%
}
